# Things to do!

+ Use Multiclass Dataset and use one-hot encoding on it.
+ Provide data set desc.
+ Normalize the data using minmax
+ Divide dataset into train and test and check for bias and variance.
+ Compare your model with logistic regression
+ Tune Hyperparameters and do analysis on it.

# Package imports

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.datasets import load_breast_cancer
import matplotlib.pyplot as plt

import L_layer_nn as lnn

# Dataset Init

In [2]:
from sklearn.datasets import fetch_covtype
dataset = pd.read_csv("covtype.data")

In [3]:
dataset.head()

,2596,51,3,258,0,510,221,232,148,6279,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2

In [4]:
dataset = dataset.sample(n = 10000)

In [5]:
# Unique labels by frequency
dataset['5'].value_counts().sort_values()

4      52
5     159
6     267
7     354
3     632
1    3610
2    4926
Name: 5, dtype: int64

In [6]:
y = dataset.pop('5')

In [7]:
# Train - Test Split

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset, y, train_size=0.95, random_state=1)
print ('The shape of X_train is: ' + str(X_train.shape))
print ('The shape of y_train is: ' + str(y_train.shape))

The shape of X_train is: (9500, 54)
The shape of y_train is: (9500,)

/home/chrx/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [8]:
# Reshape for machine learning model

X_train = X_train.values
X_train = X_train.T
X_test = X_test.values
X_test = X_test.T

y_train = y_train.values
y_train = y_train.reshape(y_train.shape[0],1)
y_train = y_train.T

y_test = y_test.values
y_test = y_test.reshape(y_test.shape[0],1)
y_test = y_test.T

print ('The shape of X_train is: ' + str(X_train.shape))
print ('The shape of y_train is: ' + str(y_train.shape))
print ('The shape of X_test is: ' + str(X_test.shape))
print ('The shape of y_test is: ' + str(y_test.shape))

The shape of X_train is: (54, 9500)
The shape of y_train is: (1, 9500)
The shape of X_test is: (54, 500)
The shape of y_test is: (1, 500)

In [9]:
# Normalize X_train and X_test using minmax-normalization
# note: axis - 1 is along the rows
#X_train = (X_train - np.mean(X_train, axis=1, keepdims = True)) / (np.max(X_train, axis=1, keepdims = True) - np.min(X_train, axis = 1, keepdims = True))   
#X_test = (X_test - np.mean(X_test, axis=1, keepdims = True)) / (np.max(X_test, axis=1, keepdims = True) - np.min(X_test, axis = 1, keepdims = True))

In [10]:
def oneHotEncoding(data, nb_classes):
    #targets = np.array(data).reshape(-1)
    data = data - 1
    return np.eye(nb_classes)[data]

In [11]:
temp = oneHotEncoding(y_train, 7)
temp = temp[0, :, :]
y_train = temp.T
print(y_train.shape)

temp = oneHotEncoding(y_test, 7)
temp = temp[0, :, :]
y_test = temp.T
print(y_test.shape)

(7, 9500)
(7, 500)

# 2-layer Neural Network

# Training

In [ ]:
#Dimensions of each layer in our network
layer_dims = [X_train.shape[0],12,10,y_train.shape[0]]
activation_functions = ["relu","relu","sigmoid"]
alpha = 0.1
parameters = lnn.L_layer_model(X_train, y_train, layer_dims, activation_functions, learning_rate = alpha, num_iterations = 3000, print_cost=True, print_plot =  True)

# Predictions and Accuracy

In [ ]:
activations = ["relu","relu","sigmoid"]
predictions = lnn.predict(parameters, X_test, activations)
print ('Accuracy: %d' % float((np.dot(y_test,predictions.T) + np.dot(1-y_test,1-predictions.T))/float(y_test.size)*100) + '%')

In [ ]:
activations = ["tanh","tanh","sigmoid"]
parameters = lnn.L_layer_model(X, Y, layer_dims, activation_functions, learning_rate = alpha, num_iterations = 3000)
predictions = lnn.predict(parameters, X, activations)
print ('Accuracy: %d' % float((np.dot(Y,predictions.T) + np.dot(1-Y,1-predictions.T))/float(Y.size)*100) + '%')

In [ ]:
activations = ["relu","tanh","sigmoid"]
parameters = lnn.L_layer_model(X, Y, layer_dims, activation_functions, learning_rate = alpha, num_iterations = 3000)
predictions = lnn.predict(parameters, X, activations)
print ('Accuracy: %d' % float((np.dot(Y,predictions.T) + np.dot(1-Y,1-predictions.T))/float(Y.size)*100) + '%')

In [ ]:
activations = ["tanh","relu","sigmoid"]
parameters = lnn.L_layer_model(X, Y, layer_dims, activation_functions, learning_rate = alpha, num_iterations = 3000)
predictions = lnn.predict(parameters, X, activations)
print ('Accuracy: %d' % float((np.dot(Y,predictions.T) + np.dot(1-Y,1-predictions.T))/float(Y.size)*100) + '%')